.Rproj.user
.Rhistory
.RData
.Ruserdata
Pomeranz_simulation_jsw.pdf
neon_data.csv
Angradi JNABS 1999 fine sediment macros.pdf
Manuscript-savina-comments.pdf
update_oct_6.pdf
Manuscript.aux
Manuscript_JP_VG.docx
Manuscript_JRJz_jsw.docx
Manuscript_jsw_JRJ.docx
Manuscript_vg.docx
nul
Manuscript.out
lit comparison formatted.xlsx
~$lit comparison formatted.xlsx
Manuscript_v2_JRJ.docx
Referee_comments_response.docx
journal-animal-ecology-cover.docx
JAE_revision.docx
JAE_revision/
JAE_revision_coauthors.docx
JAE_revision_jsw2_JRJ_VG.docx
Referee_comments_response_jsw.docx
SI_draft.pdf
SI_draft.tex
